h1,h2,h3{
    text-align: center;
    color: red;(84 23 35)

    ]

}
  h3[
    colar:read-only




  ]
  table,th,td{
    background-color:powderblue
    border:1px solid black

  }
P{
    color: red;(27,101,48);
    backgrund-colar:azure

}
<back








